<h1>All Costumes</h1>

<ul>
  <% @costumes.each do |costume| %>

    <li>

       <%=  link_to "#{costume.name}", costume_path(costume) %>

    </li>
  <% end %>

</ul>

<%= link_to 'Add a Costume', new_costume_path %>
