
<h1>Costume Details</h1>
<h3> Costume Name: <%=  "#{@costume.name}" %></h3>

<h3> Number of Pieces: <%= "#{@costume.number_of_pieces}"%> </h3>

<h3> Belongs to: <%= "#{@costume.theater.name} " %></h3>

<h3> Period: <%= "#{@costume.period.name} " %></h3>
